<a href="https://colab.research.google.com/github/zeynalli009/Datascience/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Q1-Get your name and age as input and print it in the form like
#My name is Rauf. My age is 21
name=input('What is your name? ')
age=input('What is your age? ')
print('Your name is '+name+'. Your age is '+age)

What is your name? Rauf
What is your age? 21
Your name is Rauf. Your age is 21

In [29]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if (a==b):
  print("Equal")
else:
  print('They are not equal')

They are not equal

In [30]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if (a>b):
  print("1st is greater than 2nd number")
elif (a<b):
  print("1st is less than 2nd")
else:
  print("These numbers are equal")

1st is less than 2nd

In [31]:
#Q4- Using for loop, print 1,2,3,4,5
for a in range(1,6):

  print(a)

1
2
3
4
5

In [7]:
#Q5-Using while loop, print 5,4,3,2,1
i=5
while(i>0):
  print(i)
  i=i-1

5
4
3
2
1

In [14]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for n in range(10,-1,-2):
  if (n==8):
    continue
  else:
      print(n)

10
6
4
2
0

In [12]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
def age(a):
   return 2022-a
age(1944)

78

In [43]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    return x+y
  def multiplication(x,y):
    return x*y
  def division(x,y):
    return x/y
  def substraction(x,y):
    return x-y
  print(arithmetic.division(30,6))

5.0

In [19]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
n = 4

sum = 0
for counter in range(1, n+1):
    sum = sum + counter
print("Sum of firs n until %d: %d" % (n, sum))

Sum of firs n until 4: 10

In [25]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 
t = []
for x in range(0,11):
  t.append(x)
print(t[0:3])

[0, 1, 2]

In [28]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15

div = [i for i in range(15) if i%3==0]
print(div)

[0, 3, 6, 9, 12]